---
layout: default

title: Projects | Twitter Open Source
description: All Twitter Open Source Projects
keywords: twitter, open, source, open source, finatra, finagle, scala
url: https://opensource.twitter.com/projects
custom_css: projects.css
custom_js: projects.js
---

<!-- Header -->

<div class="header simple-header">
    <div class="Grid container">
        <div id="header-text" class="Grid-cell">
            <h1 class="large-title">Projects</h1>
            <div class="search-bar">
                <input class="search-box" type="text" name="search" placeholder="Search Projects" autocomplete="off" />
                <span class="Icon Icon--search"></span>
            </div>
        </div>
    </div>

</div>

<!-- Container for no results text -->
<div class="Grid container no-results-container"></div>

<!-- Projects grid (See renderProjects() in projects.js) -->
<div class="Grid container all-papers"></div>
<!-- End of all-projects -->

<script type="text/javascript">
    let allProjects = [];

    {% for item in site.data.papers %}
        
        var authors = [];
        var tags = [];
        
        {% for author in item[1].authors %}
            authors.push("{{author}}")
        {% endfor %}

        {% for tag in item[1].tags %}
            tags.push("{{tag}}")
        {% endfor %}

        allProjects.push({
            title: `{{ item[1]["title"] }}`,
            abstract: `{{ item[1]["abstract"] }}`,
            authors: authors,
            homepageURL: `{{ item[1]["url"] }}`,
            localFile : `{{ item[1]["localFile"] }}`,
            tags : tags,
            stars : `{{ item[1]["stargazers"] }}`,
            watchers : `{{ item[1]["watchers"] }}`,
        })
    {% endfor %}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js" async></script>
